body{
	margin:0px;
	padding:0px;
	font-family:Georgia;
}

a{
	text-decoration:none;
	color:blue;
}

#logo{
	float:left;
	height:20px;
	border:none;
}

#loader{
	display:none;
}

ul.navbar{
	text-align:right;
	background:url('/media/images/navbar-background.png');
}

ul.navbar li{
	display:inline;
	font-weight:bold;
	color:white;
}

ul.navbar li a{
	color:white;
}

#content{
	width:600px;
	margin:auto;
}

.post{
	margin:10px;
	padding:10px;
}

.gravatar{
	float:left;
	margin:0px 10px 10px 0px;
}


.blog_header, .blog_creation_date{
	text-align:center;
}

.blog_content{
	width:500px;
	margin:auto;
}

#comment_container{
	width:500px;
	margin:auto;
}

.entry{
	width:400px;
	display:block;
	border:1px solid black;
	padding:10px;
	-moz-border-radius:10px;
}
