<!DOCTYPE html>
<html>
    <head>
        <title>Gianluca Pacchiella's HQ</title>
        <meta charset="utf-8"/>
        <link href='http://fonts.googleapis.com/css?family=Neuton:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{STATIC_URL}}css/home/style.css"/>
    </head>
    <body itemscope itemtype="http://schema.org/Person">
        <header>
            <h1 itemprop="name">Gianluca Pacchiella</h1>
            <span><a href="#">resume</a></span>
            <span itemprop="email">gp at ktln2 dot org</span>
        </header>
        <nav>
            <ul class="no-bullet">
                <li class="social">
                    <img class="icon" src="{{STATIC_URL}}images/home/twitter.png"/>
                    <span>
                        <a itemprop="url" href="https://twitter.com/_gipi_">Twitter</a>
                    </span>
                </li>
                <li class="social">
                    <img class="icon" src="{{STATIC_URL}}images/home/github.jpg"/><span><a  itemprop="url" href="https://github.com/gipi">Github</a></span></li>
                <li class="social"><img class="icon" src="{{STATIC_URL}}images/home/linkedin.png"/><span><a  itemprop="url" href="http://www.linkedin.com/pub/gianluca-pacchiella/22/939/533">Linkedin</a></span></li>
                <li class="social"><img class="icon" src="{{STATIC_URL}}images/home/avatar.png"/><span><a  itemprop="url" href="blog/">Blog</a></span></li>
                <li class="social"><img class="icon" src="{{STATIC_URL}}images/home/stackoverflow.png"/><span><a  itemprop="url" href="http://stackoverflow.com/users/1935366/gipi">Stack Overflow</a></span></li>
                <!--li class="social"><span>Resume</span></li-->
            </ul>
        </nav>
	{% if google_analytics_id %}
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ google_analytics_id }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}
    </body>
</html>
