div.highlighter-rouge {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    padding: 1rem 0em;
    display: block;
   background-color: #f9f9f9;
    overflow: overlay;
}

.highlighter-rouge .hll { background-color: #ffffcc }
 /*{ background: #f0f3f3; }*/
.highlighter-rouge .c { color: #999; } /* Comment */
.highlighter-rouge .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlighter-rouge .k { color: #006699; } /* Keyword */
.highlighter-rouge .o { color: #555555 } /* Operator */
.highlighter-rouge .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.highlighter-rouge .cp { color: #009999 } /* Comment.Preproc */
.highlighter-rouge .c1 { color: #999; } /* Comment.Single */
.highlighter-rouge .cs { color: #999; } /* Comment.Special */
.highlighter-rouge .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlighter-rouge .ge { font-style: italic } /* Generic.Emph */
.highlighter-rouge .gr { color: #FF0000 } /* Generic.Error */
.highlighter-rouge .gh { color: #003300; } /* Generic.Heading */
.highlighter-rouge .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlighter-rouge .go { color: #AAAAAA } /* Generic.Output */
.highlighter-rouge .gp { color: #000099; } /* Generic.Prompt */
.highlighter-rouge .gs { } /* Generic.Strong */
.highlighter-rouge .gu { color: #003300; } /* Generic.Subheading */
.highlighter-rouge .gt { color: #99CC66 } /* Generic.Traceback */
.highlighter-rouge .kc { color: #006699; } /* Keyword.Constant */
.highlighter-rouge .kd { color: #006699; } /* Keyword.Declaration */
.highlighter-rouge .kn { color: #006699; } /* Keyword.Namespace */
.highlighter-rouge .kp { color: #006699 } /* Keyword.Pseudo */
.highlighter-rouge .kr { color: #006699; } /* Keyword.Reserved */
.highlighter-rouge .kt { color: #007788; } /* Keyword.Type */
.highlighter-rouge .m { color: #FF6600 } /* Literal.Number */
.highlighter-rouge .s { color: #d44950 } /* Literal.String */
.highlighter-rouge .na { color: #4f9fcf } /* Name.Attribute */
.highlighter-rouge .nb { color: #336666 } /* Name.Builtin */
.highlighter-rouge .nc { color: #00AA88; } /* Name.Class */
.highlighter-rouge .no { color: #336600 } /* Name.Constant */
.highlighter-rouge .nd { color: #9999FF } /* Name.Decorator */
.highlighter-rouge .ni { color: #999999; } /* Name.Entity */
.highlighter-rouge .ne { color: #CC0000; } /* Name.Exception */
.highlighter-rouge .nf { color: #CC00FF } /* Name.Function */
.highlighter-rouge .nl { color: #9999FF } /* Name.Label */
.highlighter-rouge .nn { color: #00CCFF; } /* Name.Namespace */
.highlighter-rouge .nt { color: #2f6f9f; } /* Name.Tag */
.highlighter-rouge .nv { color: #003333 } /* Name.Variable */
.highlighter-rouge .ow { color: #000000; } /* Operator.Word */
.highlighter-rouge .w { color: #bbbbbb } /* Text.Whitespace */
.highlighter-rouge .mf { color: #FF6600 } /* Literal.Number.Float */
.highlighter-rouge .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlighter-rouge .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlighter-rouge .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlighter-rouge .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlighter-rouge .sc { color: #CC3300 } /* Literal.String.Char */
.highlighter-rouge .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlighter-rouge .s2 { color: #CC3300 } /* Literal.String.Double */
.highlighter-rouge .se { color: #CC3300; } /* Literal.String.Escape */
.highlighter-rouge .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlighter-rouge .si { color: #AA0000 } /* Literal.String.Interpol */
.highlighter-rouge .sx { color: #CC3300 } /* Literal.String.Other */
.highlighter-rouge .sr { color: #33AAAA } /* Literal.String.Regex */
.highlighter-rouge .s1 { color: #CC3300 } /* Literal.String.Single */
.highlighter-rouge .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlighter-rouge .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlighter-rouge .vc { color: #003333 } /* Name.Variable.Class */
.highlighter-rouge .vg { color: #003333 } /* Name.Variable.Global */
.highlighter-rouge .vi { color: #003333 } /* Name.Variable.Instance */
.highlighter-rouge .il { color: #FF6600 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
