{% extends 'site_base.html' %}
{% comment %}
TODO: merge this template with 'snippet/blog_archive_month.html'
{% endcomment %}
{% block body %}
<h1>{{title}}</h1>
<ul id="archive_list">
{% for blog in blog_list %}
	{% comment %}
	TODO: add number of posts for month
	{% endcomment %}
	{% ifchanged %}
	<li class="date"><h2>{{blog.creation_date|date:"Y M"}}</h2></li>
	{% endifchanged %}
	<li{% ifequal blog.status 'bozza' %} class="bozza"{% endifequal %}>
	<a href="{% url blog-post blog.slug %}">{{blog.title}}</a></li>
{% endfor %}
</ul>
{% endblock %}
