{% extends 'site_base.html' %}
{% load markup %}
{% load tagging_tags %}
{% load yadb_tags %}
{% load comments %}
{% block body %}
	{% if blogs %}
		{% for blog in blogs %}
		<div class="post">
			<h2>
				<a href="{% url blog-post blog.slug %}">{{blog.title|capfirst}}</a>
				{% ifequal user blog.user %}
				| <a href="{% url blog-edit blog.pk %}">edit</a>
				{% endifequal %}
			</h2>
			{% comment %}
			TODO: insert somewhere the modify_date
			{% endcomment %}
			<h3 class="{{blog.status}}">{{blog.status}}
				by {{blog.user}}
				at {{blog.creation_date|date:"D d M Y"}}</h3>
			<div class="post_content">
				{{blog.content|restructuredtext|truncatewords_html_and_more:blog}}
			</div>
			<h3 class="tag_list"><b>Tagged as: </b>{% tags_for_object blog as tags %}
			{{ tags|join:", " }}</h3>
			<div class="comment">
			{% get_comment_count for blog as count%}
			<a href="{% url blog-post blog.slug %}#comment_container">Comments</a> 
			({{count}})
			</div>
		</div>
		{% endfor %}
	{% else %}
		<h1>no posts yet</h1>
	{% endif %}
{% endblock %}
