{% extends 'site_base.html' %}
{% load comments markup yadb_tags stats_tags %}
{% block title %}{{ blog.title }}{% endblock %}
{% block content_attrs %} itemprop="blogpost" itemscope itemtype="http://schema.org/BlogPosting"{% endblock %}
{% block content %}
{% if blog %}
<div class="post">
  <h1 class="post-title">{{ blog.title }}</h1>
  <span class="post-date">{{ page.creation_date|date:"D d M Y" }}</span>
	<div class="blog_content" itemprop="articleBody">
		{{blog.content.rendered|safe}}
	</div>
	<div id="stats">Page visited {% page_counter blog_url %} times</div>
</div>
{% endif %}
{% endblock content %}
