{% extends 'site_base.html' %}
{% load comments markup yadb_tags trackback_tags %}
{% block link_trackback %}
		<link rel="pingback" href="{% get_pingback_url %}"/>
{% endblock %}
{% block extrajs %}
{% if form %}
<script type="text/javascript">
	function do_something_with_text_file (event) {
		event.preventDefault();
		files = event.dataTransfer.files;

		for(var cycle = 0 ; cycle < files.length ; cycle++)
			from_file_get_content(files[cycle],
					document.getElementById('id_content'));
	}
	$(document).ready( function () {
			/* The change event occurs when a control
			   loses the input focus and its value has
			   been modified since gaining focus.*/
			document.getElementById('id_content').onchange = is_edited_toggle;

			var drag_zone = document.getElementById('drag_zone');
			drag_zone.addEventListener(
				"dragover",
				function (event) {event.preventDefault();},
				true);

			drag_zone.addEventListener(
				"drop", do_something_with_text_file, true);
	});
	window.onbeforeunload = function () {
		if(g_is_edited){
			window.stop();
			if(!window.confirm('You have editated the post! Do you really want to leave this page?'))
				alert("stopped?");
		}
	};
</script>
{% endif %}
{% endblock %}

{% block body %}
{% if blog %}
	<h1 class="blog_header">{{blog.title|capfirst}}</h1>
	<h3 class="blog_creation_date">
		{{blog.creation_date|date:"D d M Y"}}
	</h3>
	<div class="blog_content">
		{{blog.content|restructuredtext}}
	</div>
	<div id="trackback">{% get_trackback_rdf_for blog %}
		<h3>Trackback</h3>
		{% get_trackbacks_for blog as trackbacks %}
		{% if trackbacks %}
		<ul>
			{% for trackback in trackbacks %}
				<li>{{ trackback }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<b>No trackback yet</b>
		{% endif %}
	</div>
	<div id="comment_container">
	<h2>Comments</h2>
	{% get_comment_form for blog as cform %}
	<form action="{% comment_form_target %}" method="post">
	{% csrf_token %}
	{{ cform.as_p }}
	<input type="hidden" name="next" value="{% url blog-post blog.slug %}"/>

	<p><input type="submit" value="post comment"/></p>
	<p><input
		type="submit" name="preview"
		class="submit-post" value="Preview"/></p>
	</form>
	{% get_comment_list for blog as comments %}
	{% for comment in comments %}
		{% comment_entry comment %}
	{% endfor %}
	</div>
{% endif %}
{% if form %}
    <p>If you want look for the restructured syntax, look <a
    href="http://docutils.sourceforge.net/docs/user/rst/quickref.html#inline-markup">here</a></p>
    <p>click <a href="#" onclick="window.open('{% url blog-upload %}',
	    'WindowForUpload', 'height=400, width=600');">here</a> to upload files</p>
    <p>click <a href="#" onclick="window.open('{% url blog-upload-popup %}',
	    'WindowUploaded', 'height=100, width=100');">here</a> to insert uploaded files</p>
	<form method="post" action="">{% csrf_token %}
	{{form.as_p}}
	<p>You can select the part to preview in order to limit</p>
	<p id="drag_zone">
	Drag on this to import file content in the textarea</p>
	<input type="submit" value="salva"/>
	<input type="button" value="preview"
		onclick="submit_preview('id_content');">
	</form>
    <div id="preview">
    </div>
{% endif %}
{% endblock %}
