{% extends 'site_base.html' %}
{% load markup %}
{% load tagging_tags %}
{% load comments %}
{% block body %}
	{% if blogs %}
		{% for blog in blogs %}
		<div class="post">
			<h2>
				<a href="{% url snippet.views.blog_view blog.slug %}">{{blog.title}}</a>
			</h2>
			<p>{{blog.content|restructuredtext}}</p>
			<div>
				{% tags_for_object blog as tags %}
				{% for tag in tags %}{{tag}} {% endfor %}
			</div>
			<div class="comment">
			{% get_comment_count for blog as count%}
			Comments ({{count}})
			</div>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}
