{% extends 'site_base.html' %}
{% load comments %}
{% load snippet_tags %}
{% load markup %}
{% block body %}
{% if blog %}
	<h1 class="blog_header">{{blog.title}}</h1>
	<h3 class="blog_creation_date">
		{{blog.creation_date|date:"D d M Y"}}
	</h3>
	<div class="blog_content">
		{{blog.content|restructuredtext}}
	</div>
	<div id="comment_container">
	<h2>Comments</h2>
	{% get_comment_form for blog as cform %}
	<form action="{% comment_form_target %}" method="POST">
	{{ cform.as_p }}
	<input type="hidden" name="next" value="{% url blog-post blog.slug %}"/>

	<tr>
		<td><input type="submit" value="post comment"/></td>
		<td><input
		type="submit" name="preview"
		class="submit-post" value="Preview">
		</td>
	</tr>
	</form>
	{% get_comment_list for blog as comments %}
	{% for comment in comments %}
		{% entry comment.user_name comment.user_email comment.comment comment.submit_date %}
	{% endfor %}
	</div>
{% endif %}
{% if form %}
    <p>If you want look for the restructured syntax, look <a
    href="http://docutils.sourceforge.net/docs/user/rst/quickref.html#inline-markup">here</a></p>
	<form method="post" action="">
	{{form.as_p}}
	<input type="submit" value="salva"/>
	<input type="button" value="preview"
		onclick="submit_preview('id_content');">
	</form>
    <div id="preview">
    </div>
    {% comment %}
    in order to follow DRY principle, I have to create a tag
    for the preview input
    {% endcomment %}
    <input id="save_button" onclick="submit_new_entry('id_content');"
		type="submit" style="display:none;" value="salva" />
{% endif %}
{% endblock %}
