{% extends 'site_base.html' %}
{% load markup %}
{% block body %}
{% if blog %}
	<h1>{{blog.title}}</h1>
	<div class="blog_content">
		{{blog.content|restructuredtext}}
	</div>
{% endif %}
{% if form %}
	<form method="post" action="">
	{{form.as_p}}
	<input type="submit" value="salva"/>
	<input type="button" value="preview"
		onclick="submit_preview('id_content');">
	</form>
    <div id="preview">
    </div>
    {% comment %}
    in order to follow DRY principle, I have to create a tag
    for the preview input
    {% endcomment %}
    <input id="save_button" onclick="submit_new_entry('id_content');"
		type="submit" style="display:none;" value="salva" />
{% endif %}
{% endblock %}
