{% load markup %}
<html>
	<head>
		<title>Snippy - {{version}}</title>
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/native.css"/>
		<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>
<body>
	<script type="text/javascript">
		function submitData(){
			$('#kt').load(
					'/entry/',
					{'content': document.getElementById('id_content').value
					}, 
					function(){
					$('#kt').fadeIn(3000)
					});
			
		}
	</script>
	<form onsubmit="submitData();return false;" method="post" action="">
        {{form.as_p}}
        <input type="submit"/>
    </form>
    <div id="kt" class="post">
    </div>
</body>
</html>
