<html>
	<head>
		<title>Snippy - {{version}}</title>
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/native.css"/>
		<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}/js/snippy.js">
		</script>
		{% block extrajs %}{% endblock %}
<body>
	<div id="header">
	{% block header%}<a href="/"><img id="logo" src="{{MEDIA_URL}}images/logo.png"/></a>{% endblock%}
	{% block navbar %}
		<ul class="navbar">
			{% if user.is_authenticated %}
			<li>{{user}}</li> 
			{% if user.is_superuser %}
			<li><a href="{% url snippet.views.blog_add %}">
					New post
				</a>
			</li>
			{% endif %}
			|
			<li>profile</li>
			<li>help</li>
			<li><a href="/about/">about</a></li>
			<li><a href="{% url logout %}">log out</a></li>
			{% else %}
			<li><a href="{% url login %}">log in</a></li>
			{% endif %}
		</ul>
	{% endblock %}
	<div id="loader">Loading...</div>
	</div>
	<div id="content">{% block body %}{% endblock %}</div>
	<div id="footer">no proprietary software was harmed in the making of this site</div>
</body>
</html>
