<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
	<head>
		<meta http-equiv="content-type" content="text/html;
		charset=ISO-8859-1"/>
		<title>Snippy - {{version}}</title>
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/base.css"/>
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/native.css"/>
		<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}js/snippy.js">
		</script>
		{% block extrajs %}{% endblock %}
	</head>
<body>
	<div id="header">
	{% block header%}<a href="/"><img id="logo" src="{{MEDIA_URL}}images/logo.png"/></a>{% endblock%}
	{% block navbar %}
		<ul class="navbar">
			{% if user.is_authenticated %}
			<li>you are logged as {{user}}</li> 
			<li><a href="{% url logout %}">log out</a></li>
			<li><a href="{% url blog-add %}"> New post </a>
			</li>
			<li>profile</li>
			{% else %}
			<li>you are not logged</li>
			<li><a href="{% url login %}">log in</a></li>
			{% endif %}
			|
			<li><a href="{% url blog-archives %}">archives</a></li>
			<li><a href="/projects/">projects</a></li>
			<li><a href="/about/">about</a></li>
			<li><a href="/feeds/latest/">feeds</a></li>
		</ul>
	{% endblock %}
	<div id="loader">Loading...</div>
	</div>
	<div id="content">{% block body %}{% endblock %}</div>
</body>
</html>
